:root {
    --primary-color: #F40612;
}

html {
    font-size:16px;
}
* {
    margin:0;
    padding:0;
    box-shadow: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1rem;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:#222222;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color:#fff;
}

a {
    text-decoration: none;
    color:#fff;
}

.showcase {
    height: 95vh;
    position: relative;
    background-image: url('../img/dashboard-image.jpg');
    background-repeat: no-repeat;
    background-position: center center/cover;
    
}

.showcase::after {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0, 0.6);
    box-shadow: inset 60px 60px 60px #000000, inset -60px -60px 60px #000000;
    z-index:1;
}

.showcase-top {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: 20px 20px;
}
.showcase-top img{
    width: 170px;
}
.showcase-top a{
}

.showcase-content {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    z-index: 2;
    margin-top: 9rem;
}

.showcase-content h1{
    font-size: 4.2rem;
    margin-bottom: 1rem;
    max-width: 700px;
}
.showcase-content h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    max-width: 700px;
}
.showcase-content h3{
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 700px;
}
.emailSection .email {
    
}

.input-xl {
    min-width: 500px;
}

.emailSection {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

/* Start of buttons styling*/
.btn{
    background-color:var(--primary-color);
    border:none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
}
.btn:hover{
    opacity:0.9;
}

.btn-xl {
    padding: 0.8rem 2rem;
}

.btn-lg {
    padding: 0.6rem 1.6rem;
}

.btn-rounded {
    border-radius: 3px;
}


/*End of Buttons specific styling*/

.bigFont{
    font-size: 2rem;
}

h1{
    
}

h2{
    
}

h3{
    
}


/*Start of tabs section*/

.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:rgb(80, 77, 77);
    height: 12vh;
}
.tabItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
label{
    margin-top: 10px;
}
.tabItem:hover{
    color:#fff;
}
.tabItem:active{
    border-bottom:5px solid red;
}

.tabs-Content{
    background-color:black;
}


.tab1-content{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    width: 30%;
    margin-left: 13%;
    justify-content: center;
}
.tab-Info-1 img{
    width: 35%;
}
.watchAnyTimeMessage {
    font-size: 2rem;
    width: 70%;
}
.mTop10{
    margin-top:10px;
}

.tab-Info-1{
    display:flex;
}

.tab-Info-2 img{
    width: 75%;
}
.tab-Info-2 {
    color:#fff;
    width: 80%;
    margin: auto;
    margin-top: 25px;
}

.tab2-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.watchAnyTimeFeatures{
    display: flex;
}
.watchAnyTimeFeatures div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.watchAnyTimeFeatures h3{
    margin: 10px 0px 10px 0px;
}
.watchAnyTimeFeatures p{
    color:#999;
    margin: 10px 0px 10px 0px;
    font-size: 0.9rem;
}

.tab-Info-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.tab3-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.8rem;
    margin: 25px 0px 30px 0px;
    width: 80%;
}
.tab3-content p {
    color:#fff;
}
.chooseAPlan{
    width: 80%;
}
table{
    border-collapse: collapse;
}
thead th{
    color:#fff;
    text-align: left;
    padding: 8px;
}
tbody td {
    text-align: left;
    padding: 8px;
    color:#999999;
}

tbody tr:nth-child(even){
    background-color:rgb(80, 77, 77);
}